name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 24.11.1

      - name: install
        run: npm install --silent

      - name: build
        run: npm run build

      - name: test
        run: npm run test

      - name: test:performance
        run: npm run test:performance

      - name: efficiency
        run: npm run test:efficiency

      - name: lint
        run: npm run lint
