name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24.13.0

      - name: install
        run: npm install --silent

      - name: build
        run: npm run build

      - name: test
        run: npm run test

      - name: test:performance
        run: npm run test:performance

      - name: efficiency
        run: npm run test:efficiency

      - name: lint
        run: npm run lint
